* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: #f8f9fd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup {
  width: 30%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logocontainer {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #79db9f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo i {
  font-size: 25px;
  filter: invert(1);
}

.logocontainer h1 {
  font-weight: 50;
  font-size: 25px;
  opacity: 0.6;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
#fullname,#mail,#pass,#confirm-pass,#check {
  width: 80%;
  height: 35px;
  padding:20px;
  margin-left: 10%;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  transition:all 0.2s ease;
}
input::placeholder{
  opacity: 0.5;
}
h5 {
  font-size: 12px;
  font-family: sans-serif;
  gap: 2px;
  margin-left: 10%;
  margin-bottom: 10px;
  color: #79db9f;
  margin-top:20px;
}
#check{
  height: 15px;
  width: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
span{
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
#check:checked{
  background-color: #79db9f;
}
#submit{
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  background-color: #79db9f;
  color: white;
  text-align: center;
  margin-left: 10%;
  outline: none;
  border: none;
  border-radius:5px;
  font-size:15px;
}
h6{
  font-size: 12px;
  margin-left: 10%;
  margin-bottom: 20px;
}
h6 a{
  text-decoration: none;
  font-size: 15px;
  color: #79db9f;
}
.checked{
  width:20px;
  height:20px;
  margin-left:5px;
  display: none;


}
@media (max-width: 800px) {
  .signup {
    width: 80%;
  }
}
